.DefaultWeather {
  height: 100%;
}
.busqueda,
.busqueda2 {
  background-color: darkolivegreen;
  height: 10%;
}

.busqueda {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}
.busqueda2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnsearch2,
.btngetlocation2 {
  margin-right: 5%;
}
.btnsearch {
  margin: 0 auto;
  background-color: rebeccapurple;
}
.btngetlocation {
  margin: 0 auto;
  background-color: aqua;
}

.actualclima {
  height: 90%;
}

.clima {
  height: 100%;
}

.datosclima {
  background-color: burlywood;
  height: 100%;
  display: block;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.grados {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}
.nombre {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}
.fecha,
.lugar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

img {
  height: 90%;
}

.DefaultWeather2 {
  background-color: aqua;
  height: 100%;
}
.DefaultWeather3 {
  background-color: chartreuse;
  height: 50%;
}

.DefaultWeathert {
  height: 100%;
}

.tarjetas {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.tarjetas .DefaultWeathert {
  height: 100%;
  margin-left: 5%;
}
